pillow==4.3.0
fabric==1.14.0
django==1.11.3
jinja==1.2
jinja2==2.9.6
djangorestframework==3.7.7
markdown==2.6.11
django-filter==1.1.0
kombu==4.2.0
celery==4.2.0
django-celery-results
dj-database-url==0.4.0
raven==6.5.0
psycopg2==2.7.4
requests==2.18.4
boto3==1.6.0
protobuf==3.6.0
humanize==0.5.1
enum34==1.1.6
scikit-learn==0.19.1
awscli==1.14.47
django-crispy-forms==1.7.0
django-cors-headers==2.1.0
cffi==1.11.4
uwsgi==2.0.17
lmdb==0.93
gunicorn==19.7.1
django-celery-beat==1.1.0
cython==0.27.3
easydict==1.7
google-cloud-storage==1.7.0
urllib3==1.23
flask==0.12.2
redis==2.10.6
hiredis==0.2.0