pillow
fabric
django==1.11.3
jinja
jinja2
djangorestframework
markdown==2.6.11
django-filter==1.1.0
kombu==4.2.0
celery==4.2.0
django-celery-results
dj-database-url==0.4.0
raven
psycopg2
requests
boto3
protobuf==3.6.0
humanize
enum34
scikit-learn
awscli
django-crispy-forms
django-cors-headers
cffi
uwsgi
lmdb
gunicorn
django-celery-beat==1.1.0
cython
easydict
google-cloud-storage
urllib3==1.23
flask
redis
hiredis