{% extends "dvaui/base.html" %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block page_content %}
<section class="content">
	<p style="margin-left: 50px;font-size: 19px;padding-top: 20px;">{% trans "Thanks for spending some quality time with the Web site today." %}</p>
	<p  style="margin-left: 50px;font-size: 19px;padding-top: 20px;"><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
</section>
{% endblock %}



