{% extends "dvaui/base.html" %}

{% block page_content %}
<section class="content-header">
<div class="row  border-bottom white-bg dashboard-header">
</div>
</section>
<section class="content">
<div class="middle-box text-center loginscreen">
        <div>
        {% if form.errors %}
        <p>您的用户名和密码不匹配。请重试。</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>您的帐户无权访问此页面。继续，请使用有权访问的帐户登录。</p>
            {% else %}
            <h3>查看此页面，请登录。</h3>
            {% endif %}
        {% endif %}

        <form method="post" class="m-t" role="form" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
            <span style="width:80px;display: inline-block">用户名：</span>
            <span style="display: inline-block">{{ form.username }}</span>
        </div>
        <div style="margin-top:10px">
            <span style="width:80px;display: inline-block">密码：</span>
            <span style="display: inline-block">{{ form.password }}</span>
        </div>

        <div><button type="submit" class="btn btn-primary block full-width" style="margin-top: 10px;margin-bottom: 15px; width:250px;">登录</button></div>
        <input type="hidden" class="" name="next" value="{{ next }}" />
{#        <div><a style="margin-top:15px" href="{% url 'password_reset' %}">忘记密码？</a></div>#}
        </form>
        <h4 style="margin-top:25px">如果在启动时您没有更改SUPERUSER / SUPERPASS环境变量，那么默认的用户名是"admin"，密码是"super"。</h4>
        <h4 style="margin-top:25px">目前我们推荐通过shell手动创建用户。</h4>
        </div>
</div>
</section>
{% endblock %}
