{% extends "dvaui/base.html" %}
{% load static from staticfiles %}
{% block ng_control %}ng-controller="CanvasControls"{% endblock %}
{% block status_bar %}
    <div id="status" ng-model="status" ng-show="checkStatus()" class="alert alert-dismissable"
         ng-class="alert_status ? 'alert-warning' : 'alert-info'" xmlns="http://www.w3.org/1999/html"><h4 class="h4status">{[ status ]}</h4>
    <button type="button" class="close" ng-click="disableStatus()" aria-hidden="true">x</button>
    </div>
{% endblock %}
{% block page_content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
</section>
<section class="content">

<div class="row large-margin">
    <div class="col-xs-1 col-sm-1 m-t" object-buttons-enabled="getSelected()" id="side_options">
        <div class="outer">
        <div class="middle">
        <div class="inner">
        <form id="image-form" style="width:100%;"  onsubmit="return false;">
            <input type='file'  id='imgfile' style="display:none"/>
            <a type='button' class="btn btn-primary btn-move" id='btnLoad' ng-click='load_image();'><i class="fa fa-image"></i>&nbsp;&nbsp;添加图片</a>
        </form>
        <button type="button" class="btn btn-info  btn-move"  id="reset_zoom" ng-click="resetZoom()"><i class="fa fa-refresh"></i>&nbsp;重置缩放</button>
        <button type="button" class="btn btn-danger  btn-move"  id="clear" ng-click="confirmClear()"><i class="fa fa-trash"></i>&nbsp;&nbsp;清空编辑器</button>
        <button type="button" class="btn btn-warning  btn-move"  id="clear_mask" ng-click="confirmClearMasks()"><i class="fa fa-trash"></i>&nbsp;清空蒙版</button>
        <button id="drawing-mode_b"
          ng-click="setFreeDrawingMode(!getFreeDrawingMode(2),2)"
          ng-class="{'btn-inverse': getFreeDrawingMode(2)}" class="btn btn-move btn-warning ">
          <i class="fa fa-pencil"></i>&nbsp;&nbsp;排除 </button>
        <div ng-show="getFreeDrawingMode(1)" class="drawing-mode">
            <button id="drawing-mode_x" ng-click="setFreeDrawingMode(!getFreeDrawingMode(1),1)" class="btn bg-red btn-move stop_btn"> <i class="fa fa-close"></i>&nbsp;&nbsp;停止绘画！</button>
        </div>
        <div ng-show="getFreeDrawingMode(2)" class="drawing-mode">
            <button id="drawing-mode_x_2" ng-click="setFreeDrawingMode(!getFreeDrawingMode(2),2)" class="btn btn-warning btn-move stop_btn"> <i class="fa fa-close"></i>&nbsp;&nbsp;停止绘画！</button>
        </div>
        <div id="drawing-mode-wrapper"  class="drawing-mode">
        <div id="drawing-mode-options"  ng-show="getFreeDrawingMode()">
          <h5 style="text-align: center">画笔宽度</h5>
          <input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth">
        </div>
        </div>
        <div ng-show="canvas.getActiveGroup()">
            <button type="button" class="btn  btn-danger btn-object-action bg-maroon btn-move" id="remove-selected-group" ng-click="removeSelected()"><i class="fa fa-trash"></i>&nbsp;&nbsp;删除</button>
            <button type="button" class="btn  btn-object-action btn-move" id="deselect_group" ng-click="deselect()"><i class="fa fa-minus"></i>&nbsp;&nbsp;取消选择</button>
        </div>
        <div ng-show="canvas.getActiveObject()">
            <button type="button" class="btn  btn-danger btn-object-action bg-maroon btn-move" id="remove-selected" ng-click="removeSelected()"><i class="fa fa-minus"></i>&nbsp;&nbsp;删除</button>
            <button type="button" class="btn  btn-info btn-object-action btn-move" id="duplicate" ng-click="duplicate()"><i class="fa fa-copy"></i>&nbsp;&nbsp;复制</button>
            <button id="send-backwards" class="btn btn-info  btn-object-action btn-move" ng-click="sendBackwards()"><i class="fa fa-step-backward"></i>&nbsp;&nbsp;回退</button>
            <button id="bring-forward" class="btn btn-info  btn-object-action btn-move"  ng-click="bringForward()"><i class="fa fa-step-forward"></i>&nbsp;&nbsp;向前</button>
            <button id="send-to-back" class="btn btn-info  btn-object-action btn-move"  ng-click="sendToBack()"><i class="fa fa-backward"></i>&nbsp;&nbsp;置于底层</button>
            <button id="bring-to-front" class="btn btn-info  btn-object-action btn-move"  ng-click="bringToFront()"><i class="fa fa-forward"></i>&nbsp;&nbsp;置于顶层</button>
            <h5 style="text-align: center">缩放</h5>
            <input value="100" max="200" type="range" bind-value-to="scale">
            <div id="color-opacity-controls" ng-show="canvas.getActiveObject()">
                <h5 style="text-align: center">不透明度</h5>
                <input value="100" type="range" bind-value-to="opacity">
            </div>
            <button type="button" class="btn  btn-object-action bg-yellow btn-move" id="deselect" ng-click="deselect()"><i class="fa fa-minus"></i>&nbsp;&nbsp;取消选择</button>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  m-t input">
        <div id="canvas-wrapper">
            <canvas id="canvas"  width="500" height="500"></canvas>
        </div>
        <div class="m-t row">
            <div class="col-xs-12" style="margin-bottom:15px">
                <h5 style="font-weight:bold" class="pull-left">选择索引 > 检索需要的序列</h5>
                <div class="pull-right">
                    <a class="btn btn-primary" href="/retrievers/"><i class="fa fa-edit"></i> 创建新的检索器</a>
                </div>
            </div>
            <div class="col-xs-12">
            <select class="js-example-basic-multiple" multiple="multiple" id="indexer_list" style="width:100%">
            {% for index_name,irtuple in indexer_retrievers %}
                <option value="{{ irtuple }}" selected="selected">{{ index_name }}</option>
            {% endfor %}
            </select>
            </div>
        </div>
            <label for="result_count">结果集</label>
            <input style="display:inline-block; margin-right:10px;width:50px;" type="number" name="result_count"  id="result_count" value="20" class="checkbox text-right index_name">
            <label for="generate_tags" >应用打开图片标记</label>
            <input type="checkbox" ng-model="generate_tags" class="checkbox" style="display: inline-block;margin-right:5px">
            <label for="entire_image">发送完整图片</label>
            <input style="display:inline-block; margin-right:5px" type="checkbox" ng-model="send_entire_image" class="checkbox">
            <div class="row">
            <div class="col-xs-12" style="text-align:center">
                <h5 style="font-weight:bold" >选择对象检测器</h5>
                <p>选择textbox来执行OCR（CTPN - > CRNN）。
                   选择人脸检测器执行（人脸检测 - > facenet - >精确检索，除了上面选择的序列之外）
                </p>
            </div>
            <div class="col-xs-12" style="margin-bottom:5px">
            <select class="js-example-basic-multiple" multiple="multiple" id="detector_list" style="width:100%">
            {% for d in detectors %}
                {% if forloop.first %}
                    <option value="{{ d.pk }}" selected="selected">{{ d.name }}</option>
                {% else %}
                    <option value="{{ d.pk }}">{{ d.name }}</option>
                {% endif %}
            {% endfor %}
            </select>
            </div>
        </div>
        <div style="width:70%;margin: 5px auto;text-align: center">
            <button href="" class="btn btn-primary btn-block" id="search_quick" ng-click="search(false)"><i class="fa fa-search"></i>&nbsp;&nbsp; 搜索图片</button>
        </div>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4 m-t uploadmenu">
            <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-body with_border">
                        <div class="row">
                            <div class="col-xs-5 text-center"><a class="btn btn-primary" data-toggle="modal" data-target="#allowed" href="#" ><i class="fa fa-upload"></i> 上传视频，数据集等</a></div>
                            <div class="col-xs-7 text-center"><a class="btn btn-primary" data-toggle="modal" data-target="#ytdisclaimer" href="#" ><i class="fa fa-film"></i> 提交媒体资源库</a></div>
                        </div>
                        <div class="row m-t">
                            <div class="col-xs-5 text-center"><a class="btn btn-primary" data-toggle="modal" data-target="#awscreds" href="#" ><i class="fa fa-cloud-download"></i> 从长城云导入</a></div>
                            <div class="col-xs-7 text-center"><a class="btn btn-primary" href="/external" ><i class="fa fa-globe"></i> 外部模型，数据集，脚本</a></div>
                        </div>
                        <div class="row m-t">
                            <div class="col-xs-5 text-center"><a class="btn btn-success" href="/stored_process/"><i class="fa fa-play"></i> 运行DVAPQL脚本</a></div>
                            <div class="col-xs-7 text-center"><a class="btn btn-primary" href="/process/"><i class="fa fa-list"></i> 监视运行的进程</a></div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="allowed">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button><h4 class="modal-title">上传视频/数据集或图像列表或导出的zip文件。</h4></div>
                                <div class="modal-body">
                                <p>一个.mp4视频文件或一个包含多个图像的zip文件 <a href="https://github.com/AKSHAYUBHAT/DeepVideoAnalytics/blob/master/tests/exampledataset.zip" target="_blank">(一个zip压缩文件的例子)</a> 或包含图像urls的json / gz文件，s3 / gcs路径
                                    <a href="https://github.com/AKSHAYUBHAT/DeepVideoAnalytics/blob/master/tests/ci/framelist.json" target="_blank">（一个json或gz文件的例子）</a>  或 一个导出的“.dva_export.zip”。</p>
                                <form role="form"  method="post" enctype="multipart/form-data" action="#" >
                                    <div class="form-group">
                                    <input id="id_name" name="name" class="form-control" type="text" required="" placeholder="填写一个名称">
                                    </div>
                                    <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="form-group text-center">
                                        <label for="id_file" >视频(.mp4) 或 zip文件:</label>
                                        <input style="margin: 10px auto 10px" id="id_file" name="file" class="btn bg-blue btn-file form-control" type="file" required="">
                                        </div>
                                    </div>
                                    </div>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-block">上传</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="ytdisclaimer">
                        <div class="modal-dialog" role="document"><div class="modal-content">
                            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">提交视频网址</h4></div>
                            <div class="modal-body">
						<form role="form"  method="post" action="/youtube" >
                                <div class="form-group">
                                    <input id="id_ytname" name="name" class="form-control" type="text" required="" placeholder="填写一个名称">
                                </div>
                                <div class="form-group">
                                    <input id="id_yturl" name="url" class="form-control" type="text" required="" placeholder="视频网址">
                                </div>
                                <div class="form-group">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-block">提交</button>
                                </div>
                        </form>

                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="awscreds">
                        <div class="modal-dialog" role="document"><div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button><h4 class="modal-title">从长城云导入批量文件</h4></div>
                            <div class="modal-body" style="text-align:left">
                                <p>我们建议使用以下方法之一设置AWS认证凭证。</p>
                                    <ul>
                                        <li>在aws配置文件中。</li>
                                        <li>使用docker-compose中的.yml中的环境变量</li>
                                        <li>在AWS上运行DVA时使用IAM角色（实例元数据发现服务）。</li>
                                    </ul>
                                <p>我们不提供通过Web接口输入AWS凭证的方法。</p>
                                <form role="form"  method="post" action="/import_s3" >
                                <div class="form-group">
                                    <textarea id="id_s3_key" rows="2" name="key" class="form-control" type="text" required="" placeholder="S3 or GCS paths e.g. s3://bucket_name/key (.mp4, .zip, .json, .gz or .dva_export.zip) with one per line"></textarea>
                                </div>
                                <div class="form-group">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-block">导入</button>
                                </div>
                                </form>
                            </div></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <h4 style="margin: 18px auto">任务状态</h4>
                            </div>
                            <div class="col-xs-offset-6 col-xs-3 text-center">
                                <a class="btn btn-primary" href="{% url 'tasks' %}" style="margin: 10px auto" > <i class="fa fa-list"></i> 所有任务</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-center">
                            <div class="col-xs-3">
                                <a class="btn btn-warning" href="/tasks/pending/" style="margin: 10px auto" > <i class="fa fa-clock-o"></i> {{ pending_tasks }} 暂停</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-primary" href="/tasks/running/" style="margin: 10px auto" > <i class="fa fa-gears"></i> {{ running_tasks }} 运行</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-success" href="/tasks/successful/" style="margin: 10px auto" > <i class="fa fa-check"></i> {{ successful_tasks }} 完成</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-danger" href="/tasks/failed/" style="margin: 10px auto" > <i class="fa fa-close"></i> {{ errored_tasks }} 失败</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <h4 style="margin-top:18px">对象面板</h4>
                            </div>
                            <div class="col-xs-9 text-center">
                                <a class="btn btn-success" href="/stored_process/#shortcuts" style="margin: 10px auto" > <i class="fa fa-plus"></i> 导入/应用模型，创建训练集，训练模型</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <a class="btn" href="/videos/" style="margin: 10px auto" > <i class="fa fa-video-camera"></i> {{ video_count }} 视频/数据集</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/videos/" style="margin: 10px auto" > <i class="fa fa-picture-o"></i> {{ frame_count }} 帧</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/queries/" style="margin: 10px auto" > <i class="fa fa-search"></i> {{ query_count }} 查询</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/indexes/" style="margin: 10px auto" > <i class="fa fa-list"></i> {{ index_entries_count }} 索引</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <a class="btn" href="/models/" style="margin: 10px auto" > <i class="fa fa-play"></i> {{ models_count }} 深度模型</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/tasks/" style="margin: 10px auto" > <i class="fa fa-clock-o"></i> {{ task_events_count }}  任务 </a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/process/" style="margin: 10px auto" > <i class="fa fa-list"></i> {{ process_count }} 进程</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/stored_process/" style="margin: 10px auto" > <i class="fa fa-newspaper-o"></i> {{ script_count }} 脚本</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <a class="btn" href="/training_sets/" style="margin: 10px auto" > <i class="fa fa-circle"></i> {{ training_set_count }} 训练集</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/retrievers/" style="margin: 10px auto" > <i class="fa fa-backward"></i> {{ retriever_counts }}  检索器 </a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/external/" style="margin: 10px auto" > <i class="fa fa-globe"></i> {{ external_server_count }} 外部服务器</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn" href="/management/" style="margin: 10px auto" > <i class="fa fa-gears"></i> {{ worker_count }} 工作进程</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-t">
    <div class="col-lg-12" ng-show="results_available()" >
    <div class="box">
    <div class="box-header box-primary text-center">
        <h3>查询图像的检索结果</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-6" ng-repeat="(name, entries) in results">
    <div class="box">
    <div class="box-header">
        <h4>结果集: {[ name ]} </h4>
    </div>
    </div>
        <div class="row">
        <div ng-repeat="item in entries" class="col-lg-3 col-sm-3 col-xs-6" >
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>{[ item.rank ]} {[ item.result_type ]}
                        <input type="checkbox" class="selection_box pull-right" id="cbox_{[ item.frame_id]}" name="cbox_{[ item.frame_id]}" />
                    </h4>
                    <p class=""><a href="/videos/{[ item.video_id ]}"> Video/Dataset {[ item.video_id ]} </a> at {[ item.frame_index ]}</p>
                    <div class="text-center">
                    </div>
                </div>
                <div class="box-body" style="height:220px">
                    <a href="/frames/{[ item.frame_id ]}"><img class="img-responsive img-bordered-sm" style="max-height:200px;margin-left:auto;margin-right:auto"  ng-src="{[ item.url ]}">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-12" ng-show="results_available()" >
    <div class="box">
    <div class="box-header box-primary text-center">
        <h3>检索，标注和检索结果与区域作为查询</h3>
    </div>
    </div>
        <div class="row">
        <div class="col-lg-12" ng-repeat="item in regions">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h4 style="display:inline-block" class="pull-left">{[ item.region_type ]}</h4>
                    <h4 style="display:inline-block" >对象名称：{[ item.object_name ]}</h4>
                    <h4 style="display:inline-block" class="pull-right">Confidence: {[ item.confidence ]}</h4>
                </div>
                <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="width: {[ item.w ]}px; height: {[ item.h ]}px; position: relative;overflow:hidden;margin: auto;">
                          <img src="{[ query_url ]}" id="image" style="position: absolute; top: -{[ item.y ]}px; left: -{[ item.x ]}px" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div style="margin:5px"><textarea class="uneditable-textarea" disabled="disabled" style="height:100px;width:100%" placeholder="text metadata if present">{[ item.text ]}</textarea></div>
                        <div style="margin:5px"><textarea class="uneditable-textarea" disabled="disabled" style="height:100px;width:100%" placeholder="JSON metadata if present">{[ item.metadata ]}</textarea></div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-lg-12" ng-repeat="(rname, rentries) in item.results">
                        <h4>结果集（使用上面的边界框区域作为查询）：{[ rname ]} </h4>
                        <div class="row">
                        <div ng-repeat="ritem in rentries" class="col-lg-3 col-sm-3 col-xs-6" >
                            <div class="clearfix" ng-if="$index % 4 == 0"></div>
                            <div class="box">
                                <div class="box-header with-border">
                                    <p class=""> {[ ritem.rank ]} : {[ ritem.result_type ]} in <a href="/videos/{[ ritem.video_id ]}"> 视频/数据组 {[ ritem.video_id]}</a> at {[ ritem.frame_index ]}</p>
                                </div>
                                <div class="box-body" style="height:220px">
                                    <a href="/frames/{[ ritem.frame_id ]}"><img class="img-responsive img-bordered-sm" style="max-height:200px;margin-left:auto;margin-right:auto"  ng-src="{[ ritem.url ]}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-8" ng-show="results_available()">
        <div class="box">
        <div class="box-body"><div class="row">
            <div class="col-lg-10 text-center"><textarea rows="1"  style="width:95%;margin: auto" placeholder="comma separated list of labels"></textarea></div>
            <div class="col-lg-2 text-center"><a ng-click="label_selected" class="btn btn-primary" >已选择的标签</a></div>
        </div></div>
        </div>
    </div>
</div>
</section>
{% endblock %}


{% block page_js %}
    <script>
        var annotation_mode = false;
        var status = "请添加需要搜索或上传的图片。";
        var payload = "{{ payload }}";
        var csrf_token = "{% csrf_token %}";
        {% if initial_url %}
            var initial_url="{{ initial_url }}";
        {% else %}
            var initial_url=null;
        {% endif %}
    var indexer_selector = $("#indexer_list");
    indexer_selector.select2({theme: "bootstrap"});
    var detector_selector = $("#detector_list");
    detector_selector.select2({theme: "bootstrap"});
    var video_name = $("#video_name");
    video_name.select2({theme: "bootstrap"});
    </script>
    <script src={% static 'plugins/jquery.mousewheel.min.js' %}></script>
    <script src={% static 'plugins/underscore-min.js' %}></script>
    <script src={% static 'fabric/fabric.js' %}></script>
    <script type="text/javascript" src={% static 'vision/jsfeat-min.js' %}></script>
    <script type="text/javascript" src={% static 'vision/slic-segmentation.js' %}></script>
    <script type="text/javascript" src={% static 'vision/pf-segmentation.js' %}></script>
    <script type="text/javascript" src={% static 'vision/compatibility.js' %}></script>
    <script type="text/javascript" src={% static 'vision/dat.gui.min.js' %}></script>
    <script src="https://code.angularjs.org/1.2.5/angular.min.js"></script>
    <script src={% static 'app/utils.js' %}></script>
    <script src={% static 'app/app_config.js' %}></script>
    <script src={% static 'app/controller.js' %}></script>
    <script src={% static 'app/app.js' %}></script>
{% endblock %}
{% block ngblock %}ng-app="cveditor"{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href={% static 'app/app.css' %}>
{% endblock %}
