{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>
            <div style="float:right">
                <form action="/shortcuts" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.pk }}" name="model_pk" />
                    <!--<button class="btn btn-success" name="op" value="export_model" type="submit"><i class="fa fa-download"></i> 导出训练模型</button>-->
					<button class="btn btn-success" name="op" value="export_model" type="button" onclick="devWarning();"><i class="fa fa-download"></i> 导出训练模型</button>
                </form>
            </div>
            <span class="box-header-title">训练模型 {{ object.name }}</span> </h2>
        </div>
    </div>
</div>
</section>



<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border"><h3>参数</h3></div>
            <div class="box-body">
                <textarea class="form-control" readonly="readonly"  rows="10">{{ object.arguments }}</textarea>
            </div>
            <div class="box-footer">
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border"><h3>文件</h3></div>
            <div class="box-body">
                <table class="table dataTables-dict">
                    <thead>
                        <tr>
                            <th>文件名称</th>
                            <th>路径</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in object.files %}
                            <tr>
                                <td>{{ f.filename }}</td>
                                <td>{{ f.url }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border"><h3>训练集</h3></div>
            <div class="box-body">
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border"><h3>训练项</h3></div>
            <div class="box-body">
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
	
	function devWarning(){
		alert("正在开发中...");
	}
</script>
{% endblock %}
