{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h4>在<a href="/videos/{{ object.video.pk }}" style="font-weight:bold">{{ object.video.name }}中的段{{ object.segment_index }}</a></h4>
        </div>
    </div>
    </div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        <div class="box">
        <div class="box-header with-border text-center" >
            {% if previous_segment_index is not None %}<a class="btn btn-info" href="/segments/by_index/{{ video.pk }}/{{ previous_segment_index }}" style="float:left"><i class="fa fa-backward"></i> 上一段</a>{% endif %}
            {% if next_segment_index %}<a class="btn btn-info" href="/segments/by_index/{{ video.pk }}/{{ next_segment_index }}" style="float:right"><i class="fa fa-forward"></i> 下一段</a>{% endif %}
            <h3 style="margin-top:5px">段{{ object.segment_index }}</h3>
        </div>
        <div class="box-body" style="text-align:center">
            <video controls="" preload="metadata" name="media" style="width:90%;margin-left:auto;margin-right:auto">
            <source src="{{url}}" type="video/mp4">
            </video>
        </div>
        </div>
        {% if frame_index_offsets %}
        <div class="box box-warning">
        <div class="box-header with-border">
        <h4>视频/数据集的最大帧索引{{ max_frame_index }} > 1000，请选择范围 </h4>
        </div>
        <div class="box-body">
            <table class="table dataTables">
            <thead>
            <tr>
                    <th class="text-center">帧索引范围</th>
                    <th class="text-center">查看</th>
            </tr>
            </thead>
            <tbody>
            {% for offset in frame_index_offsets %}
                <tr>
                    <td class="text-center">{{ offset.0 }} to {{ offset.1 }}</td>
                    <td class="text-center"><a href=".?frame_index_offset={{ offset.0 }}">查看</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
        {%  endif %}
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
        <div class="box-body with-border">
            <h4>给整个段指定标签</h4>
            <form role="form"  method="post" action="/assign_segment_labels" >
                    <div class="form-group">
                        <input id="labels" style="margin:10px auto" name="labels" class="form-control" type="text-area" rows="3" width="80%" required="" placeholder="provide a single label name, or a comma separated list">
                    </div>
                        <input name="video_pk" class="form-control" type="hidden" value="{{ object.pk }}">
                    <div class="form-group">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                    </div>
            </form>
        </div>
        </div>
            <div class="box">
            <div class="box-body">
                <h3>元数据</h3>
                <textarea style="width:100%;height:300px;">
                    {{ object.metadata }}
                </textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
            <div class="box">
            <div class="box-header with-border">
            <h3>帧/图像和检测列表</h3>
            </div>
            <div class="box-body">
                {% if frame_first and frame_last %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="height:200px"><a href="/frames/{{ frame_first.pk }}"><img style="height:70%"  src="{{ MEDIA_URL }}{{ object.pk }}/frames/{{ frame_first.frame_index }}.jpg"><h4>帧 {{ frame_first.frame_index }}</h4></a></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="height:200px"><a href="/frames/{{ frame_last.pk }}"><img style="height:70%" src="{{ MEDIA_URL }}{{ object.pk }}/frames/{{ frame_last.frame_index }}.jpg"><h4>帧 {{ frame_last.frame_index }}</h4></a></div>
                </div>
                {% endif %}
                <table class="table dataTables">
                <thead>
                <tr>
                        <th class="text-center">类型</th>
                        <th class="text-center">文件/标注/对象名称</th>
                        <th class="text-center">置信度</th>
                        <th class="text-center">x</th>
                        <th class="text-center">y</th>
                        <th class="text-center">w</th>
                        <th class="text-center">h</th>
                        <th class="text-center">帧索引</th>
                        <th class="text-center">查看</th>
                </tr>
                </thead>
                <tbody>
                {% for f in frame_list %}
                    <tr>
                        <td>{% if object.dataset %} image {% else %} video frame {% endif %}</td>
                        <td class="text-left">{% if object.dataset %}  {{ f.name }} {% endif %}</td>
                        <td class="text-right"> 100.0 %</td>
                        <td class="text-right">{{ 0 }}</td>
                        <td class="text-right">{{ 0 }}</td>
                        <td class="text-right">{{ f.w }}</td>
                        <td class="text-right">{{ f.h }}</td>
                        <td class="text-right">{{ f.frame_index }} </td>
                        <td class="text-center"><a href="/frames/{{ f.pk }}">查看</a></td>
                    </tr>
                {% endfor %}
                {% for d in region_list %}
                    <tr>
                        <td>区域</td>
                        <td class="text-left">{{ d.object_name }}</td>
                        <td class="text-right">{{ d.confidence|floatformat }}</td>
                        <td class="text-right">{{ d.x }}</td>
                        <td class="text-right">{{ d.y }}</td>
                        <td class="text-right">{{ d.w }}</td>
                        <td class="text-right">{{ d.h }}</td>
                        <td class="text-right">{{ d.frame_index }} </td>
                        <td class="text-center"><a href="/frames/{{ d.frame_id }}">查看</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
