{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h4> <span style="font-weight:bold">{{ object.name }}</span>：目前显示帧索引的帧和相关的标注和检测<span style="font-weight:bold">{{ offset }}</span> 至 <span style="font-weight:bold">{{ limit }}</span>.</h4>
            <div class="col-lg-12 m-t">
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">类型</th>
                    <th class="text-center">名称</th>
                    <th class="text-center">时长</th>
                    <th class="text-center">帧</th>
                    <th class="text-center">段</th>
                    <th class="text-center">区域</th>
                    <th class="text-center">标注</th>
                    <th class="text-center">高度</th>
                    <th class="text-center">宽度</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">youtube</th>

                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{%  if object.dataset and object.query %} 查询 {% elif object.dataset %} 数据集 {% else %}视频 {% endif %}</td>
                        <td>{{ object.name }} </td>
                        <td class="text-right">{{ object.length_in_seconds }} </td>
                        <td class="text-right">{{ object.frames }} </td>
                        <td class="text-right">{{ object.segments }} </td>
                        <td class="text-right">{{ region_count }} </td>
                        <td class="text-right">{{ label_count }} </td>
                        <td class="text-right">{{ object.height }} </td>
                        <td class="text-right">{{ object.width }} </td>
                        <td class="text-center">{{ object.created }}</td>
                        <td class="text-center">{% if object.youtube_video %}<a href="{{ object.url }}" target="_blank">youtube link</a>{% endif %}</td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>
        </div>
    </div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        {% if not video.dataset %}
        <div class="box">
        <div class="box-header with-border" >
            <h3>Video</h3>
            {%  if object.youtube_video %}<a href="{{ object.url }}" target="_blank">{{ object.url }}</a>{% endif %}
        </div>
        <div class="box-body" style="text-align:center">
            <video controls="" preload="metadata" name="media" style="width:90%;margin-left:auto;margin-right:auto">
            <source src="{{url}}" type="video/mp4">
            </video>
        </div>
        </div>
        {% endif %}
        {% if frame_index_offsets %}
        <div class="box box-warning">
        <div class="box-header with-border">
        <h4>视频/数据集的最大帧索引{{ max_frame_index }} > 1000，请选择范围 </h4>
        </div>
        <div class="box-body">
            <table class="table dataTables">
            <thead>
            <tr>
                    <th class="text-center">帧索引范围</th>
                    <th class="text-center">查看</th>
            </tr>
            </thead>
            <tbody>
            {% for offset in frame_index_offsets %}
                <tr>
                    <td class="text-center">{{ offset.0 }} to {{ offset.1 }}</td>
                    <td class="text-center"><a href=".?frame_index_offset={{ offset.0 }}">查看</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
        {%  endif %}
    </div>

<div class="col-lg-6">
    <div class="box " >
        <div class="box-header with-border"><h3 style="display: inline-block">任务状态</h3>
        <a class="btn btn-primary pull-right" href="{% url 'video_tasks' object.pk %}" style="margin: 10px auto" > <i class="fa fa-list"></i> 所有任务</a>
        </div>
        <div class="box-body">
            <div class="row text-center">
                    <div class="col-xs-3">
                        <a class="btn btn-warning btn-block" href="{% url 'video_tasks_status' object.pk 'pending' %}" style="margin: 10px auto" > <i class="fa fa-clock-o"></i> {{ pending_tasks }} 暂停</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-primary btn-block" href="{% url 'video_tasks_status' object.pk 'running' %}" style="margin: 10px auto" > <i class="fa fa-gears"></i> {{ running_tasks }} 运行</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-success btn-block" href="{% url 'video_tasks_status' object.pk 'successful' %}" style="margin: 10px auto" > <i class="fa fa-check"></i> {{ successful_tasks }} 完成</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-danger btn-block" href="{% url 'video_tasks_status' object.pk 'failed' %}" style="margin: 10px auto" > <i class="fa fa-close"></i> {{ errored_tasks }} 失败</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="box ">
        <div class="box-header with-border"><h3>管理操作</h3></div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <form action="/export_video" method="post"><input type="hidden" value="{{ object.pk }}" name="video_id"><input type="hidden" value="file" name="export_method">{% csrf_token %}
                        <button type="submit" class="btn btn-info btn-block"><i class="fa fa-download"></i> 导出为文件</button>
                    </form>
                </div>
                <div class="col-sm-3 text-center">
                    <form action="/delete_video" method="post"><input type="hidden" value="{{ object.pk }}" name="video_id">{% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-delete"></i> 删除 (仅限管理人员)</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form action="/rename_video" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input name="name" type="text" placeholder="New name for {{ object.name }}" required="required" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <input type="hidden" value="{{ object.pk }}" name="video_id">{% csrf_token %}
                                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-edit"></i> 重命名</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <form action="/export_video" method="post">
            <div class="row m-t" style="margin-top:25px">
                <div class="col-sm-3"><div class="form-group"><label for="bucket">S3 Bucket <input name="bucket" type="text" placeholder="bucket" required="required" class="form-control" /></label></div></div>
                <div class="col-sm-3"><div class="form-group"><label for="key">S3 Key <input name="key" type="text" placeholder="key_prefix" required="required" class="form-control" /></label></div></div>
                <div class="col-sm-3"><div class="form-group"><label for="region">Region <input name="region" type="text" placeholder="region" required="required" value="us-east-1" class="form-control" /></label></div></div>
                <div class="col-sm-3">{% csrf_token %}
                    <input type="hidden" value="{{ object.pk }}" name="video_id">
                    <input type="hidden" value="s3" name="export_method">
                    <button type="submit" class="btn btn-block btn-primary" style="margin-top:20px"> <i class="fa fa-cloud-upload"></i>备份到 S3</button>
                </div>
            </div>
            </form>
            <h5 class="text-center">删除当前要求重新启动的检索工作进程以清除加载到内存中的索引 (修补程序待定)</h5>
            <h5 class="text-center">通过环境变量或通过运行 aws 配置内容器或通过 IAM 角色在 EC2 提供 aws 凭据</h5>
            {% if exports or s3_exports %}
            <h4 class="text-center">可用的备份</h4>
            <table class="table dataTables-nofilter">
                <thead>
                    <tr>
                        <th class="text-center">已创建</th>
                        <th class="text-center">已完成</th>
                        <th class="text-center">Download URL or S3 region/bucket/key</th>
                    </tr>
                </thead>
                <tbody>
                {% for e in exports %}
                    <tr>
                        <td>{{ e.started }}</td>
                        <td class="text-center">{{ e.completed }}</td>
                        <td class="text-center">
                            {% if e.arguments.file_name %}
                                <a href="{{ MEDIA_URL }}exports/{{ e.arguments.file_name }}">点击下载</a>
                            {% elif e.completed %}
                                s3://{{ e.arguments.bucket }}/{{ e.arugments.key }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for e in s3_exports %}
                    <tr>
                        <td>{{ e.started }}</td>
                        <td class="text-center">{{ e.completed }}</td>
                        <td class="text-center">{{ e.region }} / {{ e.bucket }} / {{ e.key }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            </div>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
            <div class="box">
            <div class="box-header with-border">
            <h3>帧/图像和检测列表 </h3>
            </div>
            <div class="box-body">
                {% if frame_first and frame_last %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="height:200px"><a href="/frames/{{ frame_first.pk }}"><img style="height:70%"  src="{{ MEDIA_URL }}{{ object.pk }}/frames/{{ frame_first.frame_index }}.jpg"><h4>帧 {{ frame_first.frame_index }}</h4></a></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="height:200px"><a href="/frames/{{ frame_last.pk }}"><img style="height:70%" src="{{ MEDIA_URL }}{{ object.pk }}/frames/{{ frame_last.frame_index }}.jpg"><h4>帧 {{ frame_last.frame_index }}</h4></a></div>
                </div>
                {% endif %}
                <table class="table dataTables">
                <thead>
                <tr>
                        <th class="text-center">类型</th>
                        <th class="text-center">文件/标注/对象名称</th>
                        <th class="text-center">置信度</th>
                        <th class="text-center">像素大小</th>
                        <th class="text-center">x</th>
                        <th class="text-center">y</th>
                        <th class="text-center">w</th>
                        <th class="text-center">h</th>
                        {% if not object.dataset %}<th class="text-center">段</th>{% endif %}
                        <th class="text-center">帧索引</th>
                        <th class="text-center">查看</th>
                </tr>
                </thead>
                <tbody>
                {% for f in frame_list %}
                    <tr>
                        <td>{% if object.dataset %} image {% else %} video frame {% endif %}</td>
                        <td class="text-left">{% if object.dataset %}  {{ f.name }} {% endif %}</td>
                        <td class="text-right"> 100.0 %</td>
                        <td class="text-right">{% widthratio object.height 1 object.width %}</td>
                        <td class="text-right">{{ 0 }}</td>
                        <td class="text-right">{{ 0 }}</td>
                        <td class="text-right">{{ f.w }}</td>
                        <td class="text-right">{{ f.h }}</td>
                        {% if not object.dataset %}<td class="text-right"><a href="/segments/by_index/{{ object.pk }}/{{ f.segment_index }}">{{ f.segment_index }}</a></td>{% endif %}
                        <td class="text-right">{{ f.frame_index }} </td>
                        <td class="text-center"><a href="/frames/{{ f.pk }}">查看</a></td>
                    </tr>
                {% endfor %}
                {% for d in detection_list %}
                    <tr>
                        <td>检测器</td>
                        <td class="text-left">{{ d.object_name }} </td>
                        <td class="text-right"> {{ d.confidence|floatformat }} %</td>
                        <td class="text-right">{% widthratio d.h 1 d.w %}</td>
                        <td class="text-right">{{ d.x }}</td>
                        <td class="text-right">{{ d.y }}</td>
                        <td class="text-right">{{ d.w }}</td>
                        <td class="text-right">{{ d.h }}</td>
                        {% if not object.dataset %}<td class="text-right"><a href="/segments/by_index/{{ object.pk }}/{{ d.segment_index }}">{{ d.segment_index }}</a></td>{% endif %}
                        <td class="text-right">{{ d.frame_index }} </td>
                        <td class="text-center"><a href="/frames/{{ d.frame_id }}">查看</a></td>
                    </tr>
                {% endfor %}
                {% for d in annotation_list %}
                    <tr>
                        <td>标注</td>
                        <td class="text-left">{{ d.object_name }}</td>
                        <td class="text-right"> 100 %</td>
                        <td class="text-right">{% widthratio d.h 1 d.w %}</td>
                        <td class="text-right">{{ d.x }}</td>
                        <td class="text-right">{{ d.y }}</td>
                        <td class="text-right">{{ d.w }}</td>
                        <td class="text-right">{{ d.h }}</td>
                        {% if not object.dataset %}<td class="text-right"><a href="/segments/by_index/{{ object.pk }}/{{ d.segment_index }}">{{ d.segment_index }}</a></td>{% endif %}
                        <td class="text-right">{{ d.frame_index }} </td>
                        <td class="text-center"><a href="/frames/{{ d.frame_id }}">查看</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
        <div class="box-body with-border">
            <h4>给整个视频指定标签</h4>
            <form role="form"  method="post" action="/assign_video_labels" >
                    <div class="form-group">
                        <input id="labels" style="margin:10px auto" name="labels" class="form-control" type="text-area" rows="3" width="80%" required="" placeholder="provide a single label name, or a comma separated list">
                    </div>
                        <input name="video_pk" class="form-control" type="hidden" value="{{ object.pk }}">
                    <div class="form-group">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                    </div>
            </form>
        </div>
        </div>
    </div>
    <div class="col-lg-6">
            <div class="box">
            <div class="box-body">
                <h3>元数据</h3>
                <textarea style="width:100%;height:300px;">
                    {{ object.metadata }}
                </textarea>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
