{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    
    <div class="box box-info">
            <div class="box-header">
            <div class="modal fade" tabindex="-1" role="dialog" id="allowed">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button><h4 class="modal-title">上传视频/数据集或图像列表或导出的zip文件。</h4></div>
                                <div class="modal-body">
                                <p>一个.mp4视频文件或一个包含多个图像的zip文件 或包含图像urls的json / gz文件，s3 / gcs路径 或 一个导出的“.dva_export.zip”。</p>
                                <form role="form"  method="post" enctype="multipart/form-data" action="/" >
                                    <div class="form-group">
                                    <input id="id_name" name="name" class="form-control" type="text" required="" placeholder="填写一个名称">
                                    </div>
                                    <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="form-group text-center">
                                        <label for="id_file" >视频(.mp4) 或 zip文件:</label>
                                        <input style="margin: 10px auto 10px" id="id_file" name="file" class="btn bg-blue btn-file form-control" accept=".mp4,.zip" 
                                        onchange="checkFileType(this)" type="file" required="">
                                        </div>
                                    </div>
                                    </div>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-block">上传</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
            <h2><span class="box-header-title">视频和数据集列表</span>
            <a class="btn btn-success" data-toggle="modal" data-target="#allowed" href="#" style="float:right;" ><i class="fa fa-upload"></i> 上传视频，数据集</a></h2>
            {% if is_paginated %}
                <div class="pagination text-center" style="width:100%">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-info" style="float:left" href=".?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward"></i>  返回</a>
                        {% endif %}
                        <span class="page-current " style="font-size:24pt;font-weight:bold">
                            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a class="btn btn-info" style="float:right" href=".?page={{ page_obj.next_page_number }}">加载更多  <i class="fa fa-forward"></i></a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table dataTables">
                <thead>
                <tr>
                    <th class="text-center">类型</th>
                    <th class="text-center">名称</th>
                    <th class="text-center">时长</th>
                    <th class="text-center">帧</th>
                    <th class="text-center">段</th>
                    <th class="text-center">高度</th>
                    <th class="text-center">宽度</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">网址</th>
                    <th class="text-center">查看</th>
                </tr>
                </thead>
                <tbody>
                {% for v in video_list %}
                {% if not v.query %}
                    <tr>
                        <td>{%  if v.dataset and v.query %} 查询 {% elif v.dataset %} 数据集 {% else %} 视频 {% endif %}</td>
                        <td>{{ v.name }} </td>
                        <td class="text-right">{{ v.length_in_seconds }} </td>
                        <td class="text-right">{{ v.frames }} </td>
                        <td class="text-right">{{ v.segments }} </td>
                        <td class="text-right">{{ v.height }} </td>
                        <td class="text-right">{{ v.width }} </td>
                        <td class="text-center">{{ v.created }}</td>
                        <td class="text-center">{% if v.url %}<a href="{{ v.url }}" target="_blank">{{ v.url }}</a>{% endif %}</td>
                        <td class="text-center"><a  href="/videos/{{ v.pk }}">查看</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
            <div class="box box-primary" >
                <div class="box-header with-border">
                    <h3>可导出列表</h3>
                </div>
                <div class="box-body">
                    <table class="table dataTables-dict">
                        <thead>
                            <tr>
                                <th class="text-center">视频</th>
                                <th class="text-center">已开始</th>
                                <th class="text-center">已完成</th>
                                <th class="text-center">下载地址</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in exports %}
                            <tr>
                                <td>{{ e.video.name }}</td>
                                <td>{{ e.started }}</td>
                                <td class="text-center">{{ e.completed }}</td>
                                <td class="text-center">
                                    {% if e.arguments.file_name %}
                                        <a href="{{ MEDIA_URL }}exports/{{ e.arguments.file_name }}">点击下载</a>
                                    {% elif e.completed %}
                                        s3://{{ e.arguments.bucket }}/{{ e.arugments.key }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
    
    //校验上传文件类型
    function checkFileType(obj){
        var fileObj = $(obj);
        var acceptType = fileObj.attr('accept');
        var selectedFile = fileObj.val();
        var fileType = selectedFile.substring(selectedFile.indexOf('.') + 1, selectedFile.length);
        if (acceptType.indexOf(fileType) > -1) {
            return true;
        } else {
            fileObj.val("");
            alert('请上传 '+acceptType+' 类型文件。');
            return false;
        }
}
</script>
{% endblock %}
